* {
  box-sizing: border-box; 
  /* border: 1px solid black;  */
}

body, main {
  margin: 0; 
  padding: 0;
}

nav {
  background-color: grey; 
}

.nav_icons {
  position: relative;
  text-decoration: none; 
  left: 10px; 
}

.nav_icons:visited {
  color: black; 
}

.menu {
  display: none; 
}

.dropbtn {
  float: right; 
  margin-right: 10px; 
  margin-top: 3px; 
  background-color:grey; 
  border: 1px solid whitesmoke; 
  border-radius: 3px; 
}

.bars {
  height: 5px;
  width: 15px;
  border-radius: 3px; 
  background-color: darkgrey;
}

.main_header {
  padding: 5px; 
}

.header_h1 {
  text-align: center; 
  font-size: 34px; 
}

.main_header h2 {
  text-align: center; 
  font-size: 20px; 
  font-style: italic; 
}

.main_header p {
  margin-left: 10px; 
  line-height: 1.6; 
}

fieldset {
  border: none; 
  margin: 0;
  padding: 0; 
}

.first_project, .second_project {
  padding-top: 15%;
  text-align: center; 
  vertical-align: middle;
  height: 150px; 
}

.first_project {
  background-color: grey; 
}

.second_project {
  background-color: lightgrey; 
}

.contact_info {
  display: block; 
  width: 100%; 
  min-height: 100%; 
  padding: 5px 5px 0px 5px; 
  background-color: grey; 
}

.email {
  float: right;
  margin-right: 10px; 
}

.availability {
  float: left; 
}

.availability h3 {
  margin-top: 22px;  
  margin-left: 12px; 
}

.availability, .availability_list {
  display: inline-block; 
}

.availability_list { 
  margin-top: 55px; 
  margin-left: -90px; 
  list-style: none;
  padding-left: 0px; 
  column-count: 2; 
  line-height: 1.6; 
}

.about_p {
  padding: 10px;
  line-height: 1.6;  
}

@media screen and (min-width: 375px) {

  .first_project, .second_project {
    height: 200px; 

  }

  .contact_info {
  
  }
}

@media screen and (min-width: 750px) {

  i {
    padding: 5px; 
  }
  
  .dropbtn {
    margin-top: 7px; 
  }

  .main_header p {
    text-align: center; 
    font-size: 18px; 
  }

  .projects {
    font-size: 32px;   
  }

  .first_project, .second_project {
    padding-top: 15%; 
    height: 300px; 
  }

  .contact_info {
    
  }

  .availability, .email_h3 {
    font-size: 25px; 
  }

  .availability_list li, .email_h3 a {
    font-size: 18px; 
  }

  .availability {
    margin-left: 10%; 
  }

  .availability_list {
    margin-top: 10%; 
    margin-left: -19%; 
    column-gap: 40px; 
  }

  .email {
    margin-right: 10%; 
  }
}