* {
  box-sizing: border-box; 
  /* border: 1px solid black;  */
}

html, body { 
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
}

.wrapper {
    background: linear-gradient(
    rgba(88, 136, 166, 0.8),
    rgba(88, 136, 166, 0.8)
  ),
  url("images/backdrop1.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
}

nav {
  background-color: transparent; 
}

.nav_icons {
  position: relative;
  text-decoration: none; 
  left: 10px; 
  top: 7px; 
  padding: 5px; 
}

.nav_icons:visited {
  color: black; 
}

.nav_icons, .menu, .dropbtn {
  cursor: pointer; 
}

.menu {
  display: none; 
}

.dropbtn {
  float: right; 
  margin-right: 10px; 
  margin-top: 3px; 
  border-radius: 3px; 
  background: transparent; 
  border: none; 
}

.bars {
  height: 3px;
  width: 18px;
  border-radius: 5px; 
  background-color: whitesmoke;
  margin: 3px 0px; 
}

.main_header {
  margin-top: 20%; 
  padding: 5px;  
}

.header_h1, .main_header h2, .main_header p {
  color: whitesmoke; 
}

.header_h1 {
  text-align: center; 
  font-size: 29px; 
}

.main_header h2 {
  text-align: center; 
  font-size: 20px; 
  font-style: italic; 
}

.main_header p {
  margin-left: 10px; 
  margin-bottom: 20%; 
  line-height: 1.6;  
}

.projects {
  border: none; 
  margin: 0;
  padding: 0; 
}

.first_project {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 220px;
  background: linear-gradient(
    rgba(242, 158, 56, 0.85),
    rgba(242, 158, 56, 0.85)
  ),
  url(images/library-header.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  cursor: pointer; 
}

.first_project:hover {
  background: url(images/library-header.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
}

.first_proj_h2 {
  color: whitesmoke;
  text-decoration: underline; 
  text-align: left; 
  vertical-align: middle;
  padding-left: 5%;     
  height: 25%;  
}


.proj_icons {
  margin: 0px; 
  padding-left: 5%; 
  display: flex; 
  flex-direction: row; 
  list-style: none; 
}

.proj_icons li {
  padding-right: 3px;
}

.contact_info {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  padding: 5px 5px 0px 5px; 
  background-color: rgb(88, 136, 166); 
  background-size: cover; 
}

.email, .email a, 
.availability h3, 
.availability_list {
  color: whitesmoke; 
}

.email {
  padding-left: 5%; 
}

.email_h3, .availability header h3 {
  font-size: 25px 
}

.email a {
  margin-top: 5%; 
  text-decoration: dotted underline; 
}

.availability h3 {
  margin-top: 22px;  
  margin-bottom: 0px; 
  padding-left: 5%;   
}

.availability_list {
  display: grid; 
  grid-template-columns: 50% 50%; 
  grid-gap: -15px; 
  margin-top: 5%; 
  list-style: none;
  line-height: 1.6; 
  padding-left: 5%;   
}

.availability_list li {
  width: 70%;  
}

.about_p {
  padding: 10px;
  line-height: 1.6;  
}

@media screen and (min-width: 375px) {

  .first_project {
    height: 200px; 
  }

  .availability {
    margin-left: 10px; 
  }

  .email {
    margin-right: 10px; 
  }
}

@media screen and (min-width: 500px) {
  
  .dropbtn {
    margin-top: 7px; 
  }

  .main_header p {
    text-align: center; 
    font-size: 18px; 
  }

  .projects {
    font-size: 32px;   
  }

  .first_project {
    padding-top: 15%; 
    height: 300px; 
  }

  .availability, .email_h3 {
    font-size: 25px; 
  }

  .availability_list li, .email_h3 a {
    font-size: 18px; 
  }

  .availability {
    margin-left: 10%; 
  }

  .availability_list {
    margin-top: 10%; 
    column-gap: 40px; 
  }

  .email {
    margin-right: 10%; 
  }
}

@media screen and (min-width: 700px) {
  
  .dropbtn {
    margin-top: 2px; 
  }
  .first_project {
    width: 50%; 
  }

  .first_project {
    float: left; 
    background-color: darkgrey;
  }
 
  .availability h3, .email_h3 {
    font-size: 32px; 
  }

  .availability {
    margin-top: 23px; 
  }

  .availability h3 {
    margin-top: 10px; 
  }

  .availability_list li, .email a {
    font-size: 20px;
  }
}

@media screen and (min-width: 950px) {

  .dropbtn {
    display: none; 
  }

  .nav_icons {
    padding: 10px; 
  }
  .menu {
    display: inline-block;  
    font-size: 20px; 
    float:right;
    margin-right: 5%;
  }

  .menu a {
    text-decoration: none; 
    color: black; 
    padding: 10px 30px; 
  }

  /* .menu a:hover {

  } */

  .projects {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    background-color: white; 

  }

  .first_project {
    margin: 40px; 
    width: 400px; 
  }
}

