* {
  box-sizing: border-box; 
  /* border: 1px solid black;  */
}

nav {
  background-color: grey; 
}

.nav_icons {
  position: relative;
  text-decoration: none; 
  left: 10px; 
}

.nav_icons:visited {
  color: black; 
}

.menu {
  display: none; 
}

.dropbtn {
  float: right; 
  margin-right: 10px; 
  margin-top: 3px; 
  background-color:grey; 
  border: none; 
}

.bars {
  height: 5px;
  width: 15px;
  border-radius: 3px; 
  background-color: darkgrey;
}

.main_header {
  padding: 5px; 
}

.header_h1 {
  text-align: center; 
  font-size: 34px; 
}

.main_header h2 {
  text-align: center; 
  font-size: 20px; 
  font-style: italic; 
}

.main_header p {
  margin-left: 10px; 
  line-height: 1.6; 
}

fieldset {
  border: none; 
  margin: 0;
  padding: 0; 
}

.first_project, .second_project {
  padding-top: 15%;
  text-align: center; 
  vertical-align: middle;
  height: 150px; 
}

.first_project {
  background-color: grey; 
}

.second_project {
  background-color: lightgrey; 
}

.contact_info {
  width: 100%; 
  margin-top: 0px; 
  padding: 5px; 
  background-color: grey; 
}

.email {
  float: right;
  margin-right: 10px; 
}

.availability {
  float: left; 
}

.availability h3 {
  margin-top: 22px; 
  margin-bottom: 0px; 
  margin-left: 12px; 
}

.availability, .availability_list {
  display: inline-block;
}

.availability_list { 
  margin-top: 55px; 
  margin-left: -90px; 
  list-style: none;
  padding-left: 0px; 
  column-count: 2; 
  line-height: 1.6; 
}

.about_p {
  padding: 10px;
  line-height: 1.6;  
}
